@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

.container1{
    /* background-color: red; */
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    /* height: 80vh; */
}

.container1 .logo{
    padding-left: 100px;
    margin-right: 113px;
}

.container1 .navbar{
    /* background-color: aqua; */
    /* border: 2px solid black; */
    margin-right: 144px;
    /* display: flex; */
}

.navbar a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
    /* font-size: 12px; */
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.navbar a:hover{
    color: blue;
}

.icons{
    /* filter: invert(); */
    /* background-color: blueviolet; */
    /* border: 2px solid black; */
    /* position: absolute; */
    margin-right: 28px;
    /* background-color: blue; */
    position: absolute;
    top: 2px;
    right: -394px;
    /* border: 2px solid black; */
    width: 50vw;
    height: 20vh;
    z-index: 1;
}

.icon{
    position: relative;
    /* margin-left: 12px; */
    right: -205px;
    top: 11px;
    /* background-color: blue; */
}

ion-icon{
    margin-right: 27px;
    /* background-color: blue; */
}

.body{
    position: absolute;
    top: 40%;
    padding-left: 100px;
    /* border: 2px solid black; */
    height: 40vh;
    max-width: 838px;
}

.body h2{
    font-size: 35px;
    font-weight: bolder;
}

.body h3{
    font-size: 25px;
    color: blue;
    font-weight: bolder;
    margin-top: 5px;
}

.body p{
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn{
    padding: 8px 22px;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    font-weight: bolder;
}

/* .squarebox{
    border: 2px solid black;
    position: absolute;
    top: -111px;
    right: -228px;
    width: 40vw;
    height: 50vh;
    transform: rotate(-45deg);
    background-color: blue;
} */